body {
    background-color: #ffecb9;
}

#update {
    background-color: #aaaabb;
}

#content {
    overflow-y: scroll;
    align-content: baseline;
    text-align: left;
    text-align-last: left;
    max-height: 60vh;
}